<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - magasin en ligne</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</head>

<body class="home-background">
    <div class="container">
        
        <h1>Bienvenue sur la boutique de vente de livres et jouets !</h1>
        <p>Choisissez une action ci-dessous :</p>

        <div class="form-actions">
            <button onclick="window.location.href='{{ url_for('login') }}'">Se connecter</button>
            <button onclick="window.location.href='{{ url_for('register') }}'">Créer un compte</button>
            <button onclick="window.location.href='{{ url_for('produits') }}'">Voir les produits</button>
            <button onclick="window.location.href='{{ url_for('home') }}'">Espace Membre</button>
        </div>

        <div class="image-container">
            
        </div>
    </div>
</body>

</html>
