--page de connexion--

--ajouter un livre ou produit--

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="default-background">
    <h2>Connexion</h2>
    <form action="/login" method="post">
        <input type="hidden" name="next" value="{{ request.args.get('next') or '' }}">
        
        <label for="username">Nom d'utilisateur:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="password" required><br><br>

        <input type="submit" value="Se connecter">
    </form>
    <p>Pas encore de compte ? <a href="/register">Inscrivez-vous</a></p>
</body>
</html>
