<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
</head>
<body class="default-background">

    <h1>Inscription</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form method="post" action="{{ url_for('register') }}">
        <label for="username">Nom d'utilisateur :</label><br>
        <input type="text" id="username" name="username" required><br>

        <label for="email">Adresse e-mail :</label><br>
        <input type="email" id="email" name="email" required><br>

        <label for="password">Mot de passe :</label><br>
        <input type="password" id="password" name="password" required><br>

        <label for="confirm_password">Confirmer le mot de passe :</label><br>
        <input type="password" id="confirm_password" name="confirm_password" required><br>

        <label for="role">Rôle :</label><br>
        <select id="role" name="role">
            <option value="Client" selected>Client</option>
            <option value="Vendeur">Vendeur</option>
        </select><br>

        <label for="numero_vendeur">Numéro de vendeur (si Vendeur) :</label><br>
        <input type="text" id="numero_vendeur" name="numero_vendeur"><br>

        <input type="submit" value="S'inscrire">
    </form>
    <a href="{{ url_for('login') }}">Vous avez déjà un compte ? Se connecter</a>
</body>
</html>